.DS_Store
.idea
"Digital Food Watch OS/Digital Food Watch OS.xcodeproj/project.xcworkspace/xcuserdata/danielrychlewski.xcuserdatad/xcdebugger/Expressions.xcexplist"
"Digital Food Watch OS/Digital Food Watch OS.xcodeproj/project.xcworkspace/xcuserdata/danielrychlewski.xcuserdatad/UserInterfaceState.xcuserstate"
"Digital Food Watch OS/Digital Food Watch OS.xcodeproj/xcuserdata/danielrychlewski.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist"
